<footer class="site-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 col-md-offset-1 partner-logo">
				<a href="http://www.cell-life.org" target="_blank">
					<img src="{{ "img/logo-cell-life.png" | prepend: site.baseurl }}" alt="Cell Life" class="img-responsive">
				</a>
			</div>
			<div class="col-md-2 partner-logo">
				<a href="http://www.code4sa.org" target="_blank">
					<img src="{{ "img/logo-code4sa.png" | prepend: site.baseurl }}"  alt="Code for South Africa" class="img-responsive">
				</a>
			</div>
			<div class="col-md-2 partner-logo">
				<a href="http://www.ddp.org.za" target="_blank">
					<img src="{{ "img/logo-ddp.png" | prepend: site.baseurl }}" alt="DDP" class="img-responsive">
				</a>
			</div>
			<div class="col-md-2 partner-logo">
				<a href="http://www.freedomhouse.org" target="_blank">
					<img src="{{ "img/logo-freedom-house.png" | prepend: site.baseurl }}" alt="Freedom House" class="img-responsive">
				</a>
			</div>
			<div class="col-md-2 partner-logo">
				<a href="http://www.khanyacollege.org.za" target="_blank">
					<img src="{{ "img/logo-khanya-college.png" | prepend: site.baseurl }}" alt="Khanya College" class="img-responsive">
				</a>
			</div>
		</div>
	</div>
</footer>
